{% extends "base.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <input type="text" placeholder="Enter your username..." name="username">

    <input type="password" placeholder="Enter your password..." name="password">

    <button type="submit">Login</button>
    <p>
        Don't have account?  <a href="{% url "register" %}">Sign Up</a>
    </p>
</form>
{% endblock %}

{% comment %} {% block content %}
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Login</button>
    <p><button><a href="{% url "register" %}">Sign Up</a></button></p>
</form>   
{% endblock %}  {% endcomment %}



